html, body {
    height: 100%;
    background-color: #2a3132;
}
.hero-image {
    background-image: url("../src/img/traffic.jpeg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto, cover;
    
}

.hero-text {
    display: inline-block;
    padding: 10px 25px;
    position: absolute;
    text-align: center;
    font-weight: lighter;
    color:  #F8F5F2;
    outline: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenuto {
    /* margin: 25px 5px 5px 5px; */
    padding: 50px 0px 50px 0px;
}

.contenuto_border{
    border: 1px solid gray;
    border-radius: 20px;
    background-color: #F8F5F2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.spazi{
    margin-top: 50px;
}
.selector-style {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    justify-content: center;
    display: flex;
   align-items: center;
}


.btn_style:hover{
    background-color: #EDB83D;
    color: #F8F5F2;
}

hidediv{
    visibility: hidden;
    display: none;
}
.margin_txt{
    margin: 25px 25px 25px 25px;
    padding: 5px 5px 5px 5px;
    color: #2a3132;
}

.model-container{
    color: #F8F5F2;
}

.result_api1{
    color: #F8F5F2;
    margin: 25px 25px 25px 25px; 
}